.aperture {
  background: url("/src/img/Aperture_bg.jpg") no-repeat bottom center;
  background-size: cover;
  height: 100vh;
}
.aperture .aperture__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aperture .aperture__wrapper h2 {
  color: #c0c0c0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}
.aperture .aperture__wrapper h1 {
  color: #fff;
  font-size: 52px;
  line-height: 110%;
  margin: 0;
}
.aperture .aperture__wrapper p {
  color: #c0c0c0;
  width: 620px;
  text-align: center;
}