.what {
  background-color: #000;
}
.what .what__wrapper .what__content {
  display: flex;
  gap: 20px;
}
.what .what__wrapper .what__content .what__lc {
  gap: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.what .what__wrapper .what__content .what__lc .what__product {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 560px;
  background: url("/src/img/what1.jpg") center center;
  background-size: cover;
}
.what .what__wrapper .what__content .what__lc .what__drone {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 560px;
  background: url("/src/img/what3.jpg") center center;
  background-size: cover;
}
.what .what__wrapper .what__content .what__rc {
  gap: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.what .what__wrapper .what__content .what__rc .what__arc {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 560px;
  background: url("/src/img/what2.jpg") center center;
  background-size: cover;
}
.what .what__wrapper .what__content .what__rc .what__wildlife {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 560px;
  background: url("/src/img/what4.jpg") center center;
  background-size: cover;
}

.what__content_block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.what__content_block a {
  margin-bottom: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
.what__content_block a:hover {
  text-decoration: underline;
}
.what__content_block .what__item_text {
  margin-bottom: 20px !important;
  font-size: 14px !important;
  line-height: 143%;
  color: #c0c0c0;
  width: 90% !important;
  text-align: left !important;
}
.what__content_block span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}