footer {
  width: 100%;
  background-color: #000;
  padding-top: 70px;
  .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @extend %title_h2;
    @extend %button;
    a {
      text-decoration: none;
      margin-top: 40px;
    }
    .footer__block1 {
        width: 100%;
      margin-top: 50px;
      display: flex;
      .footer__block1_lc {
        width: 50%;
        
        p {
          font-size: 13px;
          line-height: 154%;
          color: #c0c0c0;
          text-align: left;
        }
      }
      .footer__block1_rc {
        width: 50%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
