@import "./adaptiveValue.scss";

.header {
  z-index: 20;
  width: 100%;
  height: 100px;
  background-color: #242424;
  padding: 0 20px;
  box-sizing: border-box; 
  position: fixed;
  top: 0;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .header__nav {
      a {
        color: #fff;
        text-decoration: none;
        margin: 0 16px;
        &:hover {
          text-decoration: underline;
        }
      }
      @extend %button;
    }
  }
}
